.main-scrin {
  margin: auto;
  width: 1200px;
}

.name {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 22px;
}

.my_photo {
  width: 320px;
}

.contact {
  text-decoration: none;
  color: rebeccapurple;
}

.information {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}
.aboutme {
  font-weight: normal;
  font-size: 16px;
  font-family: serif;
}

.can {
  font-family: sans-serif;
  font-size: 18px;
}

.leanguage_programm {
  color: blue;
  font-style: italic;
}

.learn {
  font-family: sans-serif;
  font-size: 15px;
}

.old_project {
  text-decoration: none;
  cursor: pointer;
}