.header
  width: 1200px
  margin: auto
  margin-bottom: 0px
  padding: 17px 90px
  background-color: #84d782
  font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, Arial, "Helvetica Neue", Helvetica, sans-serif
  &-breadcrumps
    display: flex
    justify-content: space-between
    &__element
      text-decoration: none
      font-size: 19px
      color: #524E4E
      font-weight: normal
